//META{ao no kanata}*//{}
/* "ao no kanata*/
/* rafael */

/* IMPORT CSS FROM GITHUB */
@import url(https://gitcdn.xyz/repo/Zerthox/ClearVision/master/css/ClearVision_v5.min.css);
/*
---------------------------------------------------------------------------------------------------------------------------------------------
IMPORTANT: CHANGE BETWEEN DARK AND LIGHT VERSION IN APPEARANCE SETTINGS! 
---------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
============== CUSTOMIZABLE COLORS ===============
*/
:root {
	--main-color: lime;
	--hover-color: green;
    --background-blur: 0px;
    --background-brightness: 100%;
}
.container-RYiLUQ,
.wrapper-2ldvyE,
.private-channels .channel.selected a,
.private-channels .channel:hover a
{
    background: transparent !important;    
}
.contentSelectedText-3j5CXt,
.contentHoveredText-2HYGIY, 
.contentHoveredVoice-3qGNKh:active, 
.contentSelectedVoice-gTtYM9:active{
    background-color: rgba(0,0,0,.3);
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
/*
---------------------------------------------------------------------------------------------------------------------------------------------
========= CUSTOMIZABLE BACKGROUND IMAGE ==========
*/
body::after,
.callout-backdrop,
.user-popout::before,
#user-profile-modal .header::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label{
    background-image: url(https://thunder503.files.wordpress.com/2017/01/tsukikage01.jpg?w=700) !important; /* IMPORTANT: Link must be HTTP! */
}
/*
--------------------------------------------------------------------------------------------------------------------------------------------
*/
